

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    

}
.main-cart{
    height: auto;
}
 
.page-item input{
    color: $black-color;
    width: 100px;
    height: 42px;
} 

.right-side{
    border-radius: 30px;
}