



.first-color{
    color: $first-color;
}
.first-color-bg{
    background: $first-color;
}
.second-color{
    color: $second-color;
}
.second-color-bg{
    background: $second-color;
}
.third-color{
    color: $third-color;
}
.third-color-bg{
    background: $third-color;
}
.fourth-color{
    color: $fourth-color;
}
.fourth-color-bg{
    background: $fourth-color;
}
.black-color{
    color: $black-color;
}
.black-color-bg{
    background: $black-color;
}

.fifth-color{
    color: $fifth-color;
}
.fifth-color-bg{
    background: $fifth-color;
}



.first-botton{
    color:black;
    background: rgb(186,127,207);
    background: linear-gradient(90deg, rgba(186,127,207,1) 0%, rgba(255,255,255,1) 100%);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9rem;
    outline: none;
    border: none;
    font-weight: 600;


    &:hover{
        background: $first-color;
        color: white;
        
    }
}
.second-botton{
    color:black;
    background: rgb(228, 0, 0);
    background: linear-gradient(90deg, rgb(248, 0, 0) 0%, rgba(255,255,255,1) 100%);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9rem;
    outline: none;
    border: none;
    font-weight: 600;


    &:hover{
        background:red;
        color: white;
        
    }
}
.third-botton{
    color:white;
    background: rgb(186,127,207);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 0.9rem;
    outline: none;
    border: none;
    font-weight: 600;


    &:hover{
        background: $fourth-color;
        color: $first-color;
        outline: $first-color;
        border:1px solid $first-color;
        
    }
}
.font-xs{
    font-size: 0.6rem;
}
.font-sm{
    font-size: 0.75rem;
}
.font-md{
    font-size: 0.87rem;
}
.font-lg{
    font-size: 1rem;
}
.font-xl{
    font-size: 1.2rem;
}

